/* Estilos adicionales */
body {
    background: linear-gradient(120deg, #eaeff0, #8ba9e9);
}

h1 {
    color: #0784fa;
}

ul.list-group {
    max-width: 600px;
    margin: 0 auto;
}

.text-center {
    margin-top: 20px;

}
